<#macro member id userEntity="" tourEntity="" >

<table border='1'>
    <th>ID</th>
    <th>Username</th>
    <th>Role</th>
    <tr>
        <td>${userEntity.id}</td>
        <td>${userEntity.username}</td>
        <td>${userEntity.userRole}</td>
        </tr>
    </table>

        <#list userEntity.review>
<h2><font color="yellow">Reviews:</font></h2>
<table border="1">
    <th>ID</th>
    <th>Text</th>
    <th>Date</th>
            <#items as item>
    <tr>
        <td> ${item.id}</td>
        <td> ${item.text}</td>
        <td>  ${item.date}</td>
        </tr>
            </#items>
    </table>
        <#else>
<h2><font color="red">There is no available reviews yet!</font></h2>
            </#list>

        <#list tourEntity>
<h2><font color="yellow">Tours:</font></h2>
<table border='1'>
    <th>ID</th>
    <th>Country</th>
    <th>Date</th>
    <th>Duration</th>
    <th>Short description</th>
    <th>Cost</th>
    <th>Type of tour</th>
    <th>Country name</th>
            <#items as item>
    <tr>
        <td>${item.id}</td>
        <td>${item.country.name}</td>
        <td>${item.date}</td>
        <td>${item.duration}</td>
        <td>${item.description}</td>
        <td>${item.cost}</td>
        <td>${item.tourType}</td>
        <td>${item.country.name}</td>
        </tr>
            </#items>
    </table>
        <#else>
<h2><font color="red">There is no available reviews yet!</font></h2>
            </#list>

</#macro>

<#macro admin id >
<h1><font color="red">!!!!</font></h1>
</#macro>